body {
  background-color: rgb(57, 57, 57);
}

.container {
  width: 80%;
  margin: 3.5rem auto;
  text-align: center;
}

.slackDisplayImage {
  width: 50%;
  object-fit: cover;
  border-radius: 100%;
}

@media (min-width: 750px) {
  .slackDisplayImage {
    width: 30%;
  }
}

.slackUserName {
  font-size: 1rem;
  color: rgb(212, 212, 212);
}

.currentDayOfTheWeek {
  font-size: 0.8rem;
  color: rgb(212, 212, 212);
}

.currentUTCTime {
  font-size: 0.8rem;
  color: rgb(212, 212, 212);
}

.myTrack {
  font-size: 0.8rem;
  color: rgb(212, 212, 212);
}

.githubURL {
  font-size: 0.8rem;
  color: rgb(169, 146, 146);
}

@media (min-width: 750px) {
  .slackUserName {
    font-size: 1.25rem;
    color: rgb(212, 212, 212);
  }
  
  .currentDayOfTheWeek {
    font-size: 1rem;
    color: rgb(212, 212, 212);
  }
  
  .currentUTCTime {
    font-size: 1rem;
    color: rgb(212, 212, 212);
  }
  
  .myTrack {
    font-size: 1rem;
    color: rgb(212, 212, 212);
  }
  
  .githubURL {
    font-size: 1rem;
    color: rgb(169, 146, 146);
  }
}

@media (min-width: 1024px) {
  .slackUserName {
    font-size: 1.5rem;
    color: rgb(212, 212, 212);
  }
  
  .currentDayOfTheWeek {
    font-size: 1.25rem;
    color: rgb(212, 212, 212);
  }
  
  .currentUTCTime {
    font-size: 1.25rem;
    color: rgb(212, 212, 212);
  }
  
  .myTrack {
    font-size: 1.25rem;
    color: rgb(212, 212, 212);
  }
  
  .githubURL {
    font-size: 1.25rem;
    color: rgb(169, 146, 146);
  }
}